---
import Layout from "../../layouts/Layout.astro";
import About from "../../components/Home/About.astro";
import jobHistory from "../../util/jobHistory.json";
import JobCard from "../../components/About/JobCard.astro";
---

<Layout title="Joshua Ibrom -- About">
  <About standalone />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {jobHistory.map((entry) => <JobCard entry={entry} />)}
    </div>
</Layout>
