---
import HomeHero from "../components/HomeHero.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <main class="min-h-[200vh]">
    <HomeHero />
  </main>
</HomeLayout>
