---
import About from "../components/Home/About.astro";
import Hero from "../components/Home/Hero.astro";
import Projects from "../components/Home/Projects.astro";
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joshua Ibrom">
  <main><Hero /><Projects /><About /><Socials /></main>
</Layout>
