---
import { Icon } from "astro-icon";

export interface Props {
  tech: string;
}

const { tech } = Astro.props;

const getTechIcon = (tech: string) => {
  switch (tech) {
    case "angular":
      return "simple-icons:angular";
    case "astro":
      return "simple-icons:astro";
    case "bootstrap":
      return "simple-icons:bootstrap";
    case "express":
      return "simple-icons:express";
    case "firebase":
      return "simple-icons:firebase";
    case "mongodb":
      return "simple-icons:mongodb";
    case "node":
      return "simple-icons:nodedotjs";
    case "react":
      return "simple-icons:react";
    case "sass":
      return "simple-icons:sass";
    case "svelte":
      return "simple-icons:svelte";
    case "tailwind":
      return "simple-icons:tailwindcss";
    case "typescript":
      return "simple-icons:typescript";
    case "vue":
      return "simple-icons:vuedotjs";
  }
};

//const techMap = new Map<string, any>(technologies);

//const techIcon = techMap.has(tech) ? techMap.get(tech) : techMap.get("astro");
---

<div
  class="w-fit pr-4 flex flex-row gap-2 items-center text-sm text-zinc-900 bg-fuchsia-400 rounded-full"
>
  <span class="p-1 bg-fuchsia-500 rounded-full"
    ><Icon name={getTechIcon(tech)} class="w-4 h-auto" />
  </span>
  {tech}
</div>
