---
import { Icon } from "astro-icon";
export interface Props {
  standalone?: boolean;
}

const { standalone } = Astro.props;
---

<div class="mt-4 mb-8 flex flex-col gap-4">
  <h2
    class="w-fit pb-1 font-raleway text-xl md:text-2xl lg:text-3xl xl:text-4xl border-b border-b-zinc-100"
  >
    about.
  </h2>
  <p class="font-inter text-lg">
    I&apos;m a junior software / web developer from San Antonio, Texas with a
    passion for expanding my skillset. I am recent graduate from Texas A&amp;M -
    San Antonio where I studied computer science. I have a background in Java,
    Python, and various web technologies such as React, Svelte, and Vue. Other
    interests include the Rust and Zig programming languages as I have been
    rather interested in systems programming and low-level development.
  </p>
  <p class="font-inter text-lg">
    I am currently working as an independent contractor assisting my alma mater
    in the migration of their website from one Cascade CMS environment to
    another. Past that, I am also looking into getting into a master's program
    to further my education in computer science. I am also looking for
    opportunities to expand my skillset and work on projects that I am
    passionate about.
  </p>
  <a
    href="/res/Resume.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class="w-fit flex flex-row gap-2 items-center text-fuchsia-500 hover:text-fuchsia-600 transition-colors"
  >
    <Icon name="mdi:file-document" class="w-8 h-auto" />
    <span class="text-lg">My Resume</span>
  </a>
  {
    !standalone && (
      <a
        href="/about"
        class="w-fit px-24 py-4 bg-fuchsia-500 hover:bg-fuchsia-600 transition-colors text-zinc-900 rounded-lg self-center"
      >
        Learn More
      </a>
    )
  }
</div>
