---
import { Icon } from "astro-icon";
export interface Props {
  standalone?: boolean;
}

const { standalone } = Astro.props;
---

<div class="mt-4 mb-8 flex flex-col gap-4">
  <h2
    class="w-fit pb-1 font-raleway text-xl md:text-2xl lg:text-3xl xl:text-4xl border-b border-b-zinc-100"
  >
    about.
  </h2>
  <p class="font-inter text-lg">
    I&apos;m a computer science student from San Antonio, Texas with a passion
    for expanding my skillset. I have a background in Java and Python and have
    since expanded into learning more about web development, having used
    technologies such as React, Vue, Angular, and some Django. I am currently a
    student at Texas A&amp;M - San Antonio where I am studying computer science.
    As a student, I have taken courses in C++, Java, Python, Powershell, and
    Bash, as well as a web development course focusing on Node.js applications
    using Express and MongoDB.
  </p>
  <a
    href="/res/Resume.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class="flex flex-row gap-2 items-center text-fuchsia-500 hover:text-fuchsia-600 transition-colors"
  >
    <Icon name="mdi:file-document" class="w-8 h-auto" />
    <span class="text-lg">My Resume</span>
  </a>
  {
    !standalone && (
      <a
        href="/about"
        class="w-fit px-24 py-4 bg-fuchsia-500 hover:bg-fuchsia-600 transition-colors text-zinc-900 rounded-lg self-center"
      >
        Learn More
      </a>
    )
  }
</div>
