---
import ProjectCard from "./components/ProjectCard.astro";

const getFrontmatter = (p: typeof featuredProjects[0]) => {
  const frontmatter = p.frontmatter as {
    title: string;
    description: string;
    stack: string;
    imageUrl: string;
    featured: boolean;
  };
  const stack = frontmatter.stack.split(",");
  return { ...frontmatter, stack };
};

const getReadmeUrl = (p: typeof featuredProjects[0]): string =>
  p.file.split("/").pop()?.replace(".md", "") ?? "/";

// Get all projects listed in src/content/projects
const featuredProjects = (await Astro.glob("../../content/projects/*.md"))
  .filter((p) => p.frontmatter.feature)
  .sort(
    (a, b) => getFrontmatter(b).stack.length - getFrontmatter(a).stack.length
  );
---

<div class="mt-4 mb-8 flex flex-col gap-4">
  <h2
    class="w-fit pb-1 font-raleway text-xl md:text-2xl lg:text-3xl xl:text-4xl border-b border-b-zinc-100"
  >
    projects.
  </h2>
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
    {
      featuredProjects.map((p) => (
        <ProjectCard
          frontmatter={getFrontmatter(p)}
          readmeUrl={`/projects/dig/${getReadmeUrl(p)}`}
        />
      ))
    }
  </div>
</div>
