<header
  class="py-2 px-2 md:px-4 lg:px-12 xl:px-24 flex flex-row justify-between items-end"
>
  <h1 class="brand">joshua ibrom</h1>
  <nav class="hidden md:flex flex-row gap-4 nav-item">
    <a href="/">home</a>
    <a href="/projects">projects</a>
    <a href="/about">about</a>
    <a href="/socials">socials</a>
  </nav>
</header>
