---
import HeroShapes from "./hero/HeroShapes.svelte";
import HeroSocials from "./hero/HeroSocials.astro";
---

<div id="home-hero" class="min-h-screen flex flex-col">
  <div class="grow px-8 sm:px-16 lg:px-32 flex flex-col justify-center">
    <div class="w-full lg:w-3/4 xl:w-1/2 flex flex-col gap-6">
      <div>
        <h3 class="text-xl md:text-2xl lg:text-3xl">Howdy, I&apos;m</h3>
        <h1 class="text-5xl md:text-6xl lg:text-7xl font-bold text-cf-nrm-cyan">
          Joshua Ibrom
        </h1>
        <h2 class="text-2xl md:text-3xl lg:text-4xl">
          Programmer &amp; Coffee Addict.
        </h2>
      </div>
      <div class="text-lg">
        I&apos;m a junior <span class="text-cf-nrm-blue">software engineer</span
        > and digital craftsman focused on building solutions that <span
          class="text-cf-nrm-blue">enable awesome digital experiences.</span
        >
      </div>
      <HeroSocials />
    </div>
  </div>
  <HeroShapes client:only="svelte" />
</div>
