---
import HeroShapes from "./hero/HeroShapes.svelte";
---

<div id="home-hero" class="min-h-screen flex flex-col">
  <div class="grow">Joshua Ibrom</div>
  <HeroShapes client:only="svelte" />
</div>
