---
import { Icon } from "astro-icon";
const socials = [
  {
    name: "GitHub",
    href: "https://github.com/sk3p7ic",
    icon: "simple-icons:github",
    displayName: "@sk3p7ic",
  },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/joshua-ibrom",
    icon: "simple-icons:linkedin",
    displayName: "@Joshua-Ibrom",
  },
  {
    name: "Twitter",
    href: "https://twitter.com/real_sk3p7ic",
    icon: "simple-icons:twitter",
    displayName: "@real_sk3p7ic",
  },
  {
    name: "Blog",
    href: "https://blog.joshuaibrom.com",
    icon: "simple-icons:svelte",
    displayName: "my blog",
  },
];

export interface Props {
  standalone?: boolean;
}

const { standalone } = Astro.props;
---

<div class="mt-4 mb-8 flex flex-col gap-4" id="socials">
  <h2
    class="w-fit pb-1 font-raleway text-xl md:text-2xl lg:text-3xl xl:text-4xl border-b border-b-zinc-100"
  >
    {standalone ? "find me elsewhere on the web." : "socials."}
  </h2>
  <div class="px-2 flex flex-col gap-4 standalone-container">
    {
      socials.map((soc) => (
        <a
          href={soc.href}
          class="font-inter text-xl flex flex-row items-center gap-4 transition-all standalone"
          target="_blank"
          rel="noopener norreferrer"
        >
          <Icon name={soc.icon} class="w-8 h-auto" />
          <span>{soc.displayName}</span>
        </a>
      ))
    }
  </div>
</div>

<style>
  @tailwind components;
  @layer components {
    .standalone-container {
      @apply md:w-1/2 lg:w-1/4 xl:w-1/4;
    }

    .standalone {
      @apply p-3 text-zinc-100 hover:text-zinc-100 hover:bg-gradient-to-r from-zinc-800 to-zinc-800 hover:from-fuchsia-600 hover:to-purple-500 border border-zinc-100 rounded-xl hover:scale-105 hover:rounded-lg transition-all;
    }
  }
</style>
