---
import AllProjectsListing from "../../components/Projects/AllProjectsListing.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Joshua Ibrom -- Projects">
  <main><AllProjectsListing /></main>
</Layout>
