---
import "../../../styles/projectReadme.css";
import Layout from "../../../layouts/Layout.astro";
import ProjectReadmeHeader from "../../../components/Projects/ProjectReadmeHeader.astro";

export const getStaticPaths = async () => {
  const allProjects = await Astro.glob("../../../content/projects/*.md");

  const paths = allProjects.map((proj) => {
    // Get the name of the files and drop the extension
    const slug = proj.file.split("/").pop()?.replace(".md", "");

    return {
      params: { slug },
      props: { project: proj },
    };
  });
  return paths;
};

const { project } = Astro.props;
---

<Layout title={`Joshua Ibrom -- ${project.frontmatter.title}`}>
  <main>
    <ProjectReadmeHeader frontmatter={project.frontmatter} />
    <div class="projectReadme">
      <project.Content />
    </div>
  </main>
</Layout>
